* {
  margin: 0%;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

.App__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 85%;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.App__header__title {
  width: 45%;
  font-size: 60px;
  padding-top: 7%;
  padding-left: 2%;
  font-family: "Fjalla One", sans-serif;
  color: aliceblue;
}

.App__header__logo {
  padding-top: 14%;
  padding-right: 5%;
  width: 40%;
}

.App__main {
  height: 100%;
  width: 100%;
}
